*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header{
    height: 100px;
    width: 100%;
    position: fixed;
}
.box_nav{
 background-color: #2C3E50;
}
.box_jumbo{
    width: 100%;
    background-color: #1ABC9C;
}
.box_img_jumbo{
 width: 250px;
}

.box_img{
    min-width: 100px;
}
.box_img img{
    width: 100%;

}
.box_about{
    width: 100%;
    background-color: #1ABC9C;
}
span{
    display: inline-block;
    height: 4px;
    width: 100px;
}
.color_white{
    color: white;
}
.box_topfoot{
    background-color: #3A546D;  
}
.box_botfoot{
    background-color: #2C3E50;
}
/* BONUS */
.layover{
   background-color:rgba(65, 146, 65, 0.6);
   display: none;
}
.box_img:hover .layover{
    display: block;
}
.box_img i{
    font-size: 100px;
}