*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.box_nav{
    height: 100px;
    width: 100%;
    background-color: red;
}
.box_jumbo{
    height: 400px;
    width: 100%;
    background-color: blue;
}
.portfolio{
    height: 100px;
    width: 100%;
    background-color: green;
}
.box_img{
    min-width: 100px;
}
.box_img img{
    width: 100%;

}
.box_about{
    height: 100px;
    width: 100%;
    background-color: violet;
}
.box_img_jumbo{
 width: 250px;
}
body{
    background-color: black;
}
